<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.attendance.mapper.ScheduleMapper">
    <!-- 查询某人某时间段的排班信息 -->
    <select id="selectSchedule" resultType="com.example.demo.attendance.entity.Schedule">
        SELECT
            schedule_id scheduleId,
            date,
            time_slot timeSlot,
            counselor_id counselorId,
            supervisor_id supervisorId
        FROM Schedule
        WHERE date = #{today}
        AND time_slot = #{timeSlot}
        <choose>
            <when test="role == 'counselor'">
                AND counselor_id = #{userId}
            </when>
            <when test="role == 'supervisor'">
                AND supervisor_id = #{userId}
            </when>
        </choose>
    </select>

</mapper>