<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.binding.mapper.BindingMapper">

    <insert id="insertBindingRecord" useGeneratedKeys="true" keyProperty="bindingId">
        INSERT INTO Binding_Record (binding_date, binding_status, supervisor_id, counselor_id, created_at, updated_at)
        VALUES (#{bindingDate}, #{bindingStatus}, #{supervisorId}, #{counselorId}, NOW(), NOW())
    </insert>

</mapper>